<div class="breadcrumbs mb-5">
    <ul>
        <li>
            <a href="/"><i class="fa-solid fa-house-chimney"></i>Home</a>
        </li>
        <li>
            <i class="fa-solid fa-user-plus"></i>
            Add User
        </li>
    </ul>
</div>

{{#if alert}}
    <div class="alert alert-success shadow-lg flex justify-between mb-5">
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
            <span>{{alert}}</span>
        </div>
        <div>
            <a href="/adduser" class="btn btn-circle btn-outline">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" /></svg>
            </a>
        </div>
    </div>
{{/if}}

<h1 class="text-2xl font-semibold mb-8">Add User</h1>

<form class="row g-3 needs-validation" method="POST" action="/adduser" novalidate>
    {{> user-form}}
</form>
